body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
	  background-color: #C8BBA4;
	  background-image: url(../images/pedras.jpg);
	  background-size: cover;
	  background-attachment: fixed;
	  background-repeat: no-repeat;
      background-position: top center;
	  
  }
   #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
   }
  #overlay1 {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


#btnarriba{
	display:none;
	padding:20px;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}
#itementrevista:hover{
	cursor: pointer;
	border-bottom: 4px solid red;
	transform : scale(0.9);
	-moz-transform : scale(0.9); /* Firefox */
	-webkit-transform : scale(0.9); /* Chrome - Safari */
	-o-transform : scale(0.9); /* Opera */
	-ms-transform : scale(0.9); /* IE9 */
}
  #itementrevista{
	  transition: 1.5s ease;
	  -moz-transition: 1.5s ease; /* Firefox */
 	  -webkit-transition: 1.5s ease; /* Chrome - Safari */
 	  -o-transition: 1.5s ease; /* Opera */
	  color: black;
	   text-shadow: black 0.0em 0.0em 0.0em;
  }
  #Entrevistas{
	  color: white;
	  text-shadow: black 0.3em 0.3em 0.3em;
  }
   .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  .caroimg{
	   width:800px;
	   margin-left:20%;
  }
  #bgitem{
	   width:800px;
	   margin-right:0;
	   background-color: black;
	   opacity:0.9;
  }
  #bgitem:hover{
	   background-color: transparent;
	   opacity:0.1;
  }
  #carousel{
	  background:transparent;
	  color: white;
	  text-shadow: black 0.3em 0.3em 0.3em;
  }
  .item{
	height: 80vh;
  }
#contacto{
	background-image: url(../images/contactoimg.jpg);
    background-position: 0% 40%;
    background-size: cover;
    background-repeat: no-repeat;
	
}

    .jumbotron {
    height: 100vh;
    margin-bottom: 0px;
    background-image: url(../images/broder.jpg);
    background-position: 0% 37%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
	border-radius:0;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }